.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner-ring {
    display: block;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-radius: 15%;
    border: 5px solid #fff;
    border-color: #ee6055 #60d394 #aaf683 #ffd97d;
    animation: spinner-ring 1.2s linear infinite;
}

@keyframes spinner-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
