.input-ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ingredient {
    width: 100px;
    height: auto;
}

.content {
    position: relative;
    top: 100px;
    width: 100%;
}

.recipes div[class*="col"] {
  display: flex;
  flex-direction: column;
}

.overlay {
    position: relative;
}

.recipe-image {
    opacity: 1;
    transition: opacity 0.5s;
}

.recipe-name {
    position: absolute;
    top: 0;
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    transition: padding-top 1s;
}

.overlay:hover .recipe-name {
    padding-top: 10px;
}

.overlay:hover .recipe-image {
    opacity: 0.3;
}

.modal-body .recipe-image {
    width: 100%;
}

.recipe-details {
    word-wrap: break-word;
}

.unused-ingredients, .missed-ingredients {
    text-transform: capitalize;
}

.fa-cart-plus {
    display: inline-block;
    margin-left: 12px;
}
