.input-ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ingredient {
    width: 100px;
    height: auto;
}

.content {
    position: relative;
    top: 100px;
    width: 100%;
}

.recipes div[class*="col"] {
  display: flex;
  flex-direction: column;
}

.overlay {
    position: relative;
}

.recipe-image {
    opacity: 1;
    transition: opacity 0.5s;
}

.recipe-name {
    position: absolute;
    top: 0;
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    transition: padding-top 1s;
}

.overlay:hover .recipe-name {
    padding-top: 10px;
}

.overlay:hover .recipe-image {
    opacity: 0.3;
}

.modal-body .recipe-image {
    width: 100%;
}

.recipe-details {
    word-wrap: break-word;
}

.unused-ingredients, .missed-ingredients {
    text-transform: capitalize;
}

.fa-cart-plus {
    display: inline-block;
    margin-left: 12px;
}

.fa-shopping-cart > span {
	width: 24px;
	height: 24px;
	color: white;
	line-height: 24px;
	position: absolute;
    display: block;
    top: 3px;
    right: 10px;
	border-radius: 12px;
	background: #ffab00;
	box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
}

.fa-shopping-cart > span.hidden {
    transform: scale(0);
}

.counter {
	transition: .2s linear;
	transform: scale(1);
}

.dropdown-menu {
    min-width: 15rem;
}
